.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 16px 24px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.button.primary {
  background-color: var(--color-primary);
  color: white;

  &:hover {
    background-color: var(--color-secondary);
  }
}

.button.secondary {
  background-color: var(--color-secondary);
  color: white;

  &:hover {
    background-color: var(--color-primary);
  }
}
