.moviesGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .moviesGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .moviesGrid {
        grid-template-columns: repeat(4, 1fr);
    }
}
